form{
    text-align: center;
    background-color: black;
    position: absolute;
    top: 8rem;
    left: 24rem;
    padding: 30px 30px 30px 30px;
    border-radius: 1rem;
    color: rgb(165, 244, 165);
    box-sizing: inherit;
}
body{
    background-color: rgb(72, 70, 70);
}
button{
    background-color: rgb(131, 177, 131);
    border-radius: 0.7rem;
    padding: 5px 5px 5px 5px;
}
button:hover{
    background-color: red;
}
Link{
    color: red;
}
.homelink{
    position: absolute;
    left: 29rem;
    top:12rem;
    background-color: black;
    padding: 30px 30px 30px 30px;
    border-radius: 2rem;
}
.links{
    color: red;
    padding: 20px 50px 20px 50px;
    transition: 300ms;
}
.links:hover{
    color: rgb(57, 248, 197);
    transform: scale(1.2);
}
h1{
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.buyme{
    position: absolute;
    left: 29rem;
    top: 10rem;
    background-color: black;
    padding: 20px 20px 20px 20px;
    border-radius: 0.7rem;
}
.op1{
    padding:30px 30px 30px 30px;
    margin: 20px 20px 20px 20px;
}
img{
    width:100px;
}
.Products{
    position: absolute;
    left: 19rem;
    top : 7rem;
    background-color: black;
    padding:30px 30px 30px 30px;
    border-radius: 1rem;
}
.product{
    background-color: green;
    color: greenyellow;
}
.toggle{
    background-color: rgb(105, 255, 122);
    padding: 20px 20px 20px 20px;
    left: 2rem;
    position: absolute;
    top: 2rem;
}
.profileDiv{
    position: absolute;
    left: 29rem;
    top: 12rem;
    background-color: black;
    padding: 20px 20px 20px 20px;
    color: white;
    border-radius: 2rem;
}
.profile{
    position : absolute;
    right: 1rem;
    top: 2rem;
    background-color: black;
    color: white;
}
.users_window{
    background-color: rgb(50, 84, 63);
    color: rgb(35, 215, 35);
    left: 14rem;
    position: absolute;
    top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: 10px 20px 10px 40px;
    height: 60vh;
    display: flex;
    border-radius: 2rem;
   
}
.chatHead{
    position: absolute;
    left: 31rem;
}
.usersList{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: italic;
   
}
.scroll{
    max-height: 300px;
    overflow-y:auto;
    padding-right: 15px;
    border-color: black;
    border-style: groove;
    border-radius: 1rem;
}
.TextButtons{
   width: 190px;
   padding: 20px 20px 20px 7px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
}
.buysellchat{
    padding: 20px 20px 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(23, 222, 155);
}
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #67ca66;
    border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.chatwindow{
position: absolute;
left: 43rem;
top: 5rem;
color: rgb(255, 255, 255);
font-weight: 600;
background-color: black;
width: 250px;
align-content: center;
padding: 20px 20px 20px 20px;
border-radius: 1rem;
height: 390px;
}
.heading{
    background-color: green;
    padding: 10px 10px 10px 10px;
    font-family: cursive;
    position: absolute;
    top:2rem;
    width: 200px;
    border-radius: 0.6rem;
}
.inputChat{
    position: absolute;
    top: 22rem;
    background-color: green;
    padding: 10px 30px 10px 20px;
    left: 1rem;
    border-radius: 1rem;
    
}
.inputss{
    background-color: rgb(186, 244, 225);
    color: blue;
    border-radius: 1rem;
    width: 160px;
    height: 1.35rem;
}
.logout{
    background-color: red;
    color: white;
    position: absolute;
    left: 14rem;
    top: 10rem;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}

.sent {
    justify-content: flex-end;
    background-color: #74f710;
}

.recieved {
    justify-content: flex-start;
    background-color: #d12c2c;
    border: 1px solid #ccc;
}
.content {
    display: inline-block;
    padding: 1rem;
    font-size:1.1rem;
}
.scrolly{
    max-height: 200px;
    overflow-y:auto;
    padding-right: 15px;
    border-color: black;
    border-style: groove;
    border-radius: 0.3rem;
}
.wee{
    color: rgb(118, 33, 33);
}
.butto{
    width:170px;
}
.products{
    background-color: red;
    position: absolute;
    left: 34rem;
    top: 10rem;
    padding: 20px 20px 20px 20px;
    border-radius: 0.5rem;
}
.you{
    color: rgb(33, 125, 89);
}
.back{
    position: absolute;
    left: 7rem;
    top: 4rem;
    padding: 20px 20px 20px 20px;
}
.bars{
    position: sticky;
    display: flex;
    left: 26rem;
    border-radius: 1rem;
}
.forgotPassword{
    position: relative;
    left: 2rem;
    color: rgb(142, 142, 235)
}
.AdminDeletes{
    background-color: red;
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 25px 25px 25px 25px;
    font-weight: 900;
    cursor:pointer
}
.AdminDeletes:hover{
    background-color: black;
    color:red
}
.images{
    height: 100px;
    width: 150px;
}